* {
  margin: 0;
  list-style: none;
  text-decoration: none;
  text-align: center; }

html {
  width: 100%; }

nav {
  font-family: "Clicker Script";
  font-size: 32pt;
  margin-bottom: 25px; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

a {
  text-decoration: none; }

.nav-link {
  color: #6f4ab4; }

.nav-link:hover {
  color: #7c7ac5; }

.nav-link:focus {
  color: #7aa1be; }

.sam {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.sam img {
  margin-top: 40px;
  margin-bottom: 80px;
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header {
  color: #36a0ff;
  font-size: 27px;
  padding: 10px; }

.titulo {
  font-family: "Clicker Script", sans-serif;
  font-size: 51pt; }

body {
  background-color: #e9e9e9; }

.titulo {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px; }

.texto1 {
  color: #464646;
  margin-top: 40px;
  padding-left: 230pt;
  padding-right: 230pt;
  font-family: "Roboto Condensed";
  font-size: 16pt;
  text-align: justify; }

#leyes {
  margin-top: 150px;
  margin-bottom: 150px; }

.deco {
  font-weight: strong; }

hr {
  margin-left: 700px;
  margin-right: 700px;
  color: #7c7ac5;
  margin-bottom: 70px; }

.tarjeta img {
  width: 80%; }

.contenedorLibros {
  margin-top: 70px;
  margin-bottom: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; }

.contenedorExt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.contenedorLibro,
.contenedorLeyes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.tarjeta {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.tarjeta p {
  text-align: center;
  border-radius: 3%;
  width: 80%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #a6d8e1; }

.tarjetaLeyes {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.tarjetaLeyes p {
  text-align: justify;
  border-radius: 3%;
  width: 80%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Montserrat", sans-serif; }

.tarjetaLeyes {
  -o-transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear; }

.tarjetaLeyes img {
  margin-bottom: 45px; }

.tarjeta {
  -o-transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear; }

.tarjeta img {
  opacity: 1;
  -o-transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear; }

img:hover {
  opacity: 0.7;
  -o-transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear; }

.contenedorTarj {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  margin-bottom: 120px; }

.btn-primary {
  background-color: #6f4ab4;
  border-color: #4c286e; }

.linktree {
  width: 1600px;
  height: 600px; }

.social {
  display: flex;
  flex-direction: row;
  justify-content: center; }

svg {
  width: 60px;
  height: 60px; }

.contenedorSoc {
  margin: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.btn-outline-secondary {
  color: #7aa1be;
  border-color: #7aa1be; }

.btn-outline-secondary:hover {
  color: #4c286e;
  background-color: #7c7ac5;
  transform: scale(1.2);
  transition: 0.25s; }
