* {
  margin: 0;
  list-style: none;
  text-decoration: none;
  text-align: center; }

html {
  width: 100%; }

nav {
  font-family: "Clicker Script";
  font-size: 32pt;
  margin-bottom: 25px; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

a {
  text-decoration: none; }

.nav-link {
  color: #6f4ab4; }

.nav-link:hover {
  color: #7c7ac5; }

.nav-link:focus {
  color: #7aa1be; }

.sam {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.sam img {
  margin-top: 40px;
  margin-bottom: 80px;
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header {
  color: #36a0ff;
  font-size: 27px;
  padding: 10px; }

.titulo {
  font-family: "Clicker Script", sans-serif;
  font-size: 51pt; }

body {
  background-color: #e9e9e9; }

.titulo {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px; }

.texto1 {
  color: #464646;
  margin-top: 40px;
  padding-left: 230pt;
  padding-right: 230pt;
  font-family: "Roboto Condensed";
  font-size: 16pt;
  text-align: justify; }

#leyes {
  margin-top: 150px;
  margin-bottom: 150px; }

.deco {
  font-weight: strong; }

hr {
  margin-left: 700px;
  margin-right: 700px;
  color: #7c7ac5;
  margin-bottom: 70px; }

.tarjeta img {
  width: 80%; }

.contenedorLibros {
  margin-top: 70px;
  margin-bottom: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; }

.contenedorExt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.contenedorExtL {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; }

.tarjetaL h5 {
  margin-top: 15px;
  margin-bottom: 25px; }

.tarjetaL p {
  margin-bottom: 45px; }

.descP {
  font-size: 18pt; }

.contenedorLibro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  width: 100%; }

.contenedorLeyes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.descuento {
  text-decoration: line-through;
  color: #b8b8b8;
  font-size: 16pt;
  font-family: "Montserrat"; }

.cuotas {
  color: #6f4ab4;
  font-family: "Montserrat"; }

.card-title-tien {
  font-size: 18pt;
  font-family: "Nunito"; }

.card-text-desc {
  color: #7c7ac5;
  font-family: "Roboto Condensed";
  margin-top: 45px;
  letter-spacing: 2px; }

.precio {
  font-size: 20pt;
  font-family: "Montserrat";
  letter-spacing: 2px; }

.tarjeta {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.tarjeta p {
  text-align: center;
  border-radius: 3%;
  width: 80%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #a6d8e1; }

.tarjetaLeyes {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.tarjetaLeyes p {
  text-align: justify;
  border-radius: 3%;
  width: 80%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Montserrat", sans-serif; }

.tarjetaLeyes {
  -o-transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear; }

.tarjetaLeyes img {
  margin-bottom: 45px; }

.tarjeta {
  -o-transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear; }

.tarjeta img {
  opacity: 1;
  -o-transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear; }

.contenedorTarj {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  margin-bottom: 120px; }

.btn-primary {
  background-color: #6f4ab4;
  border-color: #4c286e; }

.linktree {
  width: 100%;
  height: 600px; }

.charla {
  font-family: "Montserrat";
  font-size: 18pt;
  border: solid #6f4ab4 1px;
  margin-right: 60px;
  margin-left: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10%; }

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

svg {
  width: 60px;
  height: 60px; }

.contenedorSoc {
  margin: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.btn-outline-secondary {
  color: #7aa1be;
  border-color: #7aa1be; }

.btn-outline-secondary:hover {
  color: #4c286e;
  background-color: #7c7ac5;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s; }

footer {
  background-color: #a6d8e1;
  color: #363636;
  line-height: 1.5; }

.ft-title {
  color: #fff;
  font-family: "Clicker Script", sans-serif;
  font-size: 38pt;
  padding-bottom: 0.625rem; }

.container {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

/* Footer main */
.ft-main {
  padding: 1.25rem 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

@media only screen and (min-width: 29.8125rem) {
  .ft-main {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly; } }

@media only screen and (min-width: 77.5rem) {
  .ft-main {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly; } }

.ft-main-item {
  padding: 1.25rem;
  min-width: 12.5rem; }

li img {
  padding: 10px; }

/* Footer social */
.ft-social {
  padding: 0 1.875rem 1.25rem; }

.ft-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-top: 1px #777 solid;
  padding-top: 1.25rem; }

.ft-social-list li {
  margin: 0.5rem;
  font-size: 1.25rem; }

/* Footer legal */
.ft-legal {
  padding: 0.9375rem 1.875rem;
  background-color: #7aa1be; }

.ft-legal-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.ft-legal-list li {
  margin: 0.125rem 0.625rem;
  white-space: nowrap; }

/* one before the last child */
.ft-legal-list li:nth-last-child(2) {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.logo {
  width: 10%;
  margin-top: 50px; }

@media only screen and (min-width: 768px) {
  /* Desktop */ }

@media only screen and (max-width: 768px) {
  /* Tablets */
  .sam img {
    width: 90%; }
  .texto1 {
    padding-left: 100px;
    padding-right: 100px; }
  .contenedorExtL {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .tarjetaL {
    margin-top: 20px; }
  .contenedorExt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .contenedorLibro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .card {
    margin-bottom: 20px;
    width: 27rem !important; }
  .contenedorTarj {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .logo {
    width: 30%; } }

@media only screen and (max-width: 500px) {
  /* Mobile */
  .nav {
    font-size: 20pt; }
  .texto1 {
    padding-right: 50px;
    padding-left: 50px; }
  .sam img {
    width: 100%; }
  .card {
    width: 22rem !important; }
  .ft-legal-list li {
    font-size: 11pt;
    text-align: center;
    margin: 0; }
  .ft-legal {
    padding: 0;
    text-align: center;
    height: 30px; }
  .ft-legal-list {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }
