$font-clicker: "Clicker Script", sans-serif;
$color1: #4c286e;
$color2: #6f4ab4;
$color3: #7c7ac5;
$color4: #7aa1be;
$color5: #a6d8e1;
$colorTarjetas: #f5daef;

.titulo {
  font-family: "Clicker Script", sans-serif;
  font-size: 51pt;
}

body {
  background-color: #e9e9e9;
}

.titulo {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.texto1 {
  color: #464646;
  margin-top: 40px;
  padding-left: 230pt;
  padding-right: 230pt;
  font-family: "Roboto Condensed";
  font-size: 16pt;
  text-align: justify;
}

#leyes {
  margin-top: 150px;
  margin-bottom: 150px;
}

.deco {
  font-weight: strong;
}

hr {
  margin-left: 700px;
  margin-right: 700px;
  color: #7c7ac5;
  margin-bottom: 70px;
}

.tarjeta img {
  width: 80%;
}

.contenedorLibros {
  margin-top: 70px;
  margin-bottom: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.contenedorExt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.contenedorExtL {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.tarjetaL h5 {
  margin-top: 15px;
  margin-bottom: 25px;
}

.tarjetaL p {
  margin-bottom: 45px;
}

.descP {
  font-size: 18pt;
}

.contenedorLibro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  width: 100%;
}

.contenedorLeyes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.descuento {
  text-decoration: line-through;
  color: rgb(184, 184, 184);
  font-size: 16pt;
  font-family: "Montserrat";
}

.cuotas {
  color: $color2;
  font-family: "Montserrat";
}

.card-title-tien {
  font-size: 18pt;
  font-family: "Nunito";
}

.card-text-desc {
  color: #7c7ac5;
  font-family: "Roboto Condensed";
  margin-top: 45px;
  letter-spacing: 2px;
}

.precio {
  font-size: 20pt;
  font-family: "Montserrat";
  letter-spacing: 2px;
}

.tarjeta {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.tarjeta p {
  text-align: center;
  border-radius: 3%;
  width: 80%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #a6d8e1;
}

.tarjetaLeyes {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.tarjetaLeyes p {
  text-align: justify;
  border-radius: 3%;
  width: 80%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Montserrat", sans-serif;
}

.tarjetaLeyes {
  -o-transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.tarjetaLeyes img {
  margin-bottom: 45px;
}

.tarjeta {
  -o-transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.tarjeta img {
  opacity: 1;
  -o-transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.contenedorTarj {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  margin-bottom: 120px;
}

.btn-primary {
  background-color: #6f4ab4;
  border-color: #4c286e;
}

.linktree {
  width: 100%;
  height: 600px;
}

.charla {
  font-family: "Montserrat";
  font-size: 18pt;
  border: solid #6f4ab4 1px;
  margin-right: 60px;
  margin-left: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10%;
}
